@import 'colors';

body {
  margin: 0;
  padding: 0;
  line-height: 1.45;
  background-color: $dark;
  color: $white;
  font-family: Merriweather, serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 65px;
  line-height: 2.25;

  &:after {
    content: '';
    display: block;
    width: fit-content;
    width: 300px;
    height: 10px;
    background-color: $primary;
  }
}

p {
  font-family: Merriweather, serif;
  font-weight: 300;
  font-size: 20px;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.form-group {
  display: flex;
  margin-bottom: 16px;

  &-inline {
    flex-direction: row;
    justify-content: space-between;

    & > * {
      flex: 50%;

      &:first-child {
        margin-right: 8px;
      }
      &:last-child {
        margin-left: 8px;
      }
    }
  }
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  overflow: hidden;
}

.message {
  height: 18px;
  margin-bottom: 8px;

  &.error-message {
    color: $white;
    font-family: Merriweather, serif;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: .25px;
    text-align: right;

    & + input,
    & + select {
      border: 2px solid $primary;
    }
  }
}

input,
select {
  font-family: Merriweather, serif;
  font-weight: 300;
  font-style: italic;
  font-size: 16px;
  padding: 18px;
  display: inline-block;
  color: $dark;
  background-color: $lightgrey;
  appearance: none;
  border-radius: 0;
  border: 2px solid transparent;

  &::placeholder {
    color: $grey;
  }
}

select {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Black_triangle.svg/540px-Black_triangle.svg.png");
  background-position: right 18px center;
  background-size: 12px 8px;
  background-repeat: no-repeat;

  &:required {
    color: $grey !important;
  }
}

button {
  background-color: $primary;
  border: 0;
  border-radius: 5px;
  color: $white;
  font-family: Merriweather, serif;
  font-size: 20px;
  font-style: bold;
  padding: 18px;
  text-align: center;
  width: 100%;

  .right-triangle {
    font-size: 67%;
    margin-left: 4px;
    vertical-align: middle;
  }

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

input,
select,
button {
  outline: none;
}

h4.thank-you-message,
.thank-you-message {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 35px;
  margin: auto;
}
